.athletes-hero {
  background-image: url('../assets/images/Athletes.jpg');
  background-size: cover;
  height: 33vh;
}

.athletes-page {
  text-align: center;
  width: 85%;
  margin: 0 auto;
}

.athletes-container {
    display: inline-block;
    background: black;
    border: 1px solid #940315;
    border-radius: 10px;
    color: #940315;
    width: 75%;
    margin-left: 2rem;
}

.athletes-list {
  border: 1px solid #940315;
  border-radius: 10px;

}


.athlete-form input {
  display: inline-block;
  background: transparent;
border: 1px solid #940315;
border-radius: 10px;
padding: .5rem 3rem;
color: #127ebf;
text-align: center;
margin: 1rem;
  input[type="button"] {
    display: inline-block;
    float: right;
}
}

.athlete-name {
  display: inline-block
}
