.athletes-hero {
  background-image: url('../assets/images/Athletes.jpg');
  background-size: cover;
  height: 33vh;
}

.athletes-page {
  text-align: center;
  width: 90%;
  margin: 3rem auto;
  background-color: white;
  background-size: cover;
  background-position-y: -7rem;
  border: 3px solid darkgrey;

  -webkit-box-shadow: 5px 5px 1px 0px  rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 1px 0px rgba(0,0,0,0.75);
}

.athlete-name {
  display: inline-block;
  margin: 1.2rem .2rem;
  color: #127ebf;
  font-size: 2rem;
}

.create-button {
  background: transparent;
  border: 1px solid darkgray;
  border-radius: 10px;
  color: #127ebf;
  padding: 1rem;
  margin-bottom: 4rem;
  font-size: 1.2rem;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #127ebf;;
}

.athletes {
  width: 85%;
  margin: 0 auto;
}

.athlete-remove-button {
  bottom: 2rem;
  display: block;
  background: white;
  border: 1px solid darkgray;
  border-radius: 10px;
  color: #127ebf;
  margin: 0 auto;
  padding: .4rem;
  font-size: 1.1rem;
  -webkit-box-shadow: 2px 2px 1px 0px  rgba(0,0,0,0.75);
 -moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
 box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
}

.athlete-list {
     margin: 0 auto;
    padding: 0;
    width: 95%;
}
.athlete-pic {
  vertical-align: middle;
  padding-top: 2rem;
}

.athlete-preview {
  border: 3px solid darkgrey;
  padding: .5rem 0rem;
  margin: 3rem 0rem;
  -webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
      a {
    text-decoration: none;
    color: #127ebf;
    }
}

.athlete-info {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
    span {
      font-size: 1.5rem;
    }
}

.athlete-input {
  margin: 1rem auto;
  display: block;
  font-size: 1.5rem;
  padding: .5rem;
  border: 3px solid darkgray;
  text-align: center;
  width: 58%;
  -webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
}

@media(min-width:732px) {
  .athletes-hero {
    background-image: url('../assets/images/Athletes.jpg');
    background-size: cover;
    background-position-y: -5rem;
    height: 65vh;
  }
}
