li {
  list-style: none;
  text-decoration: none;
}

html {
  height: 100%;
}
body {
  height: 100%;
  background: #d3d3d3;
  margin: 0;
  }

.save-button {
  background: transparent;
  border: 1px solid darkgray;
  border-radius: 10px;
  color: #127ebf;
  padding: 1rem
}

.search-button {
  background: transparent;
  border: 1px solid darkgray;
  border-radius: 10px;
  color: #127ebf;
  padding: 1rem;
  font-size: 1.5rem;
}

.remove-button-container{
  display: inline-block;
}
.remove-button {
  vertical-align: middle;
  display: inline-block;
  background: white;
  border: 1px solid dargray;
  border-radius: 10px;
  color: #127ebf;
  margin: .5rem;
  padding: .4rem;
  font-size: 1.1rem;
  -webkit-box-shadow: 2px 2px 1px 0px  rgba(0,0,0,0.75);
 -moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
 box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
}
.choose {
  display: inline-block;
  margin: 2rem auto;
  font-size: 1.5rem;
  text-align: center;
}

.choose a{
  color: #127ebf;
}

.choose a:visited {
    color: #127ebf;
}

.redirect-link {
  font-size: 1.7rem;
}
.redirect-link a {
  color: #127ebf;

}
.redirect-link a:visited {
  color: #127ebf;
}
