.cycle-hero {
  background-image: url('../assets/images/Cycles.jpg');
  background-size: cover;
  height: 33vh;
}

.cycle-page {
  text-align: center;
  width: 90%;
  margin: 3rem auto;
  background-color: white;
  background-size: cover;
  background-position-y: -7rem;
  border: 3px solid darkgrey;

  -webkit-box-shadow: 2px 2px 1px 0px  rgba(0,0,0,0.75);
 -moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
 box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
}

.cycle-name {
  display: inline-block;
  margin-right: .2rem;
  margin: 1.2rem;
  color: #127ebf;
  font-size: 2rem;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #127ebf;;
}

.cycles {
  width: 85%;
  margin: 0 auto;
  font-size: 2rem;
}

.cycle-remove-button {
  display: inline-block;
  background: white;
  border: 1px solid dargray;
  border-radius: 10px;
  color: #127ebf;
  margin: .5rem;
  padding: .3rem;
  font-size: 1.1rem;
  -webkit-box-shadow: 2px 2px 1px 0px  rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
}


.cycles-list {
  margin: 4rem 0rem;
  padding-left: .5rem;

}

.create-cycle {
  margin-left: .5rem;
  margin-bottom: 4rem;
  font-size: 1.2rem;
}

.cycle-preview {
  border: 3px solid darkgrey;
  padding: .5rem 0rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: 2px 2px 1px 0px  rgba(0,0,0,0.75);
 -moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
 box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
      a {
    text-decoration: none;
    color: #127ebf;
    }
}

.cycle-info {
  width: 20rem;
  background: white;
  border: 1px solid darkgray;
  border-radius: 10px;
  color: darkgray;
  padding: 1rem;
  font-size: 1.2rem;
}

.date-picker {
  font-size: 1.3rem;
    width: 8rem;
    margin: 0rem.5rem;
    border: 1px solid darkgray;
}

.cycle-date {
  display: inline-block;
      margin: 2rem 1rem 0rem 1rem;
      font-size: 2rem;
}
.cycle-description {
  display: block;
  font-size: 1.5rem;
}
