.header {
  background: white;
  color: #393845;
  border-bottom: 3px solid darkgray;

}

.loggedIn-navContainer {
  margin: 0;
  padding: 0;
}

.app-title {
  display: inline-block;
  margin-left: 3rem;
    color: #393845;
}

.nav-container {
  display: inline-block;
  float: right;
  margin-top: 1.1rem;
  margin-right: 1rem;
}

.nav-list {
  display: inline-block;
  background: transparent;
  margin: .3rem;
  padding: .5rem 1rem;
  font-size: 1.5rem;
}

a {
  color: #393845;
  text-decoration: none;
}

a:visited {
  color: #393845;
}

.logout-button {
  background: transparent;
  color: #393845;
  border: 0;
  font-family: Times;
  font-size: 1.4rem;
  padding: .04rem;

}


@media(min-width: 600px) {
  .nav-container {
  display: inline-block;
  float: right;
  margin: 0;
}
margin: 0;
padding: 0;
width: 100%;
position: absolute;
top: 1rem;

.nav-list {
  display: inline-block;
  background: transparent;
  font-size: 1rem;
}
}
@media(max-width: 732px) {
  .nav-container {
  display: inline-block;
  float: right;
  margin-top: 1rem;
}

.nav-list {
  display: inline-block;
  background: transparent;
  margin: .1rem;
  padding: .5rem 1rem;
  font-size: 1rem;
}
}
