.header {
  background: #010000;
  color: #940315;
  border-radius: 10px;
  padding: 1rem;
  border: 1px solid #940315;
}

.loggedIn-navContainer {
  margin: 0;
  padding: 0;
}

.nav-list {
  display: inline-block;
  background: #5C0009;
  margin: .3rem;
  border-radius: 10px;
  padding: .5rem 1rem;
  box-shadow: 1px 2px 2px white;
    a {
      text-decoration: none;
      color: #127ebf;
    }
  }

a:visited {
color: #127ebf;
}

.logout-button {
  background: transparent;
  color: #127ebf;
  border: 0;
  font-family: Times;
  font-size: .9rem;
  padding: .04rem;
  font-weight: bold;
}

.back-button {
  display: block;
  float: right;
  margin-top: 2rem;
  margin-right: 2rem;
}
