.header {
  background: #010000;
  color: #940315;
  border-radius: 10px;
  padding: 1rem;
  border: 1px solid #940315;
  box-shadow: 5px 5px 1px black;
}

.loggedIn-navContainer {
  margin: 0;
  padding: 0;
}

.nav-list {
  display: inline-block;
  background: #5C0009;
  margin: .3rem;
  border-radius: 10px;
  padding: .5rem 1rem;
  box-shadow: 5px 5px 1px white;
        a {
          text-decoration: none;
          color: #9B96A3;
        }
}

a:visited {
  color: none;
}

.logout-button {
  background: transparent;
  color: #9B96A3;
  border: 0;
  font-family: Times;
  font-size: .9rem;
  padding: .04rem;
  font-weight: bold;


}
