.home-hero {
  background-image: url('../assets/images/home-hero.jpg');
  background-size: cover;
  height: 33vh;
}

.home-workout-container {
  background-image: url('../assets/images/Workout.jpg');
  background-size: cover;
  display: inline-block;
  height: 20rem;
  width: 18rem;
  margin: 2rem 1rem 0rem 1rem;
}

.routes-container {
  text-align: center;

}
.home-cycle-container {
  background-image: url('../assets/images/Cycles.jpg');
  background-size: cover;
  display: inline-block;
  height: 20rem;
  width: 18rem;
  margin: 2rem 1rem 0rem 1rem;
}

.home-athlete-container {
  background-image: url('../assets/images/Athletes.jpg');
  background-size: cover;
  display: inline-block;
  height: 20rem;
  width: 18rem;
  margin: 2rem 1rem 0rem 1rem;
}

.home-container-nav {
  background: #5C0009;
  margin: .3rem;
  border-radius: 10px;
  padding: .5rem 1rem;
    a {
      text-decoration: none;
      color: #127ebf;
    }
}

a:visited {
color: #127ebf;

}

.section-title {
  margin: 1rem 0 0 0;
}

.home-workout {
  display: inline-block;
}

.home-cycle {
  display: inline-block;
}
.home-athletes {
  display: inline-block;
}
