.home-hero {
  background-image: url('../assets/images/home-hero.jpg');
  background-size: cover;
  height: 33vh;
}

.home-container-nav {
  background: #5C0009;
  margin: .3rem;
  border-radius: 10px;
  padding: .5rem 1rem;
    a {
      text-decoration: none;
      color: #127ebf;
    }
  }
a:visited {
color: #127ebf;
}
.routes-container {
color: #940315;
margin: 2rem;

}
.home-workout-container {
 background-image: url('../assets/images/Workout.jpg');
 height: 18vh;
 background-size: cover;
 background-position-y: -7rem;
}

.home-cycle-container {
  background-image: url('../assets/images/Cycles.jpg');
  height: 18vh;
  background-size: cover;
  background-position-y: -7rem;
}

.home-athlete-container {
  background-image: url('../assets/images/Athletes.jpg');
  height: 18vh;
  background-size: cover;
  background-position-y: -7rem;
}

.section-title {
  text-align: center;
  font-size: 7rem;
  margin: 0 auto;
  padding: 5rem;
}
