.form-container {
  display: inline-block;
  padding: 1.5rem 0rem;
  background: white;
  margin-top: 5rem;
}

.login-input {
  display: block;
  margin: 1rem auto;
  background: white;
  text-align: center;
  font-size: 1rem;
  width: 65%;
  border-color: #127ebf;
}

.login-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #393845;
}

.login-button {
  display: block;
  margin: 1rem auto;
  background: white;
  text-align: center;
  font-size: 1rem;
  width: 35%;
  color:#393845;
  border-color: #127ebf;
}

.landing-page-container {
  text-align: center;
}
