.form-container {
  display: inline-block;
  padding: 12.5rem 3rem;
  background: white;
  border: 3px solid darkgray;
  margin-top: 10rem;
}

.login-input {
  display: block;
  margin: 1rem auto;
  background: lightgray;
  text-align: center;
  font-size: 2rem;
  width: 85%;
  border-color: darkgray;
}

.login-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #393845;
}

.login-button {
  display: block;
  margin: 1rem auto;
  background: lightgray;
  text-align: center;
  font-size: 2rem;
  width: 65%;
  color:#393845;
  border-color: darkgray;
}

.landing-page-container {
  text-align: center;
}
