.landing-page {
  display: inline-block;
  width: 75%;
}

.form-container {
  display: inline-block;
background: black;
padding: 8rem 1rem;
border: 1px solid #940315;
border-radius: 10px;
text-align: center;
}

.login-form input {
  display: block;
  background: transparent;
border: 1px solid #940315;
border-radius: 10px;
padding: .5rem 3rem;
color: #9B96A3;
text-align: center;
margin: 1rem;

#login-button {
  padding: .5rem 5.9rem;
}
  a:visited {
    color: #940315;
  }
}
