
.workout-form-container {
  display: inline-block;
  border: 1px solid #940315;
  border-radius: 10px;
  padding: 1rem;

}

.workout-form input {
  display: block;
  background: transparent;
border: 1px solid #940315;
border-radius: 10px;
padding: .5rem 3rem;
color: #9B96A3;
text-align: center;
margin: 1rem;
}

.movement-list {
  display: inline-block;
  border: 1px solid #940315;
  border-radius: 10px;
  padding: 1rem;
}

.movement-name {
  display: inline-block;
  margin-left: 2rem;
}

.buttons {
  display: inline-block;
}

input.workout-details {
  display: inline-block;
  margin: 0.5rem
}
