
.workout-form-container {
  display: inline-block;
  border: 1px solid #940315;
  border-radius: 10px;
  padding: 1rem;

}

.workout-form input {
  display: block;
  background: transparent;
border: 1px solid #940315;
border-radius: 10px;
padding: .5rem 3rem;
color: #127ebf;
text-align: center;
margin: 1rem;
}

.movement-info {
  display: inline-block;
}

.movement-list-info {

  text-align: center;
}

.movement-list {
  display: inline-block;
  border: 1px solid #940315;
  border-radius: 10px;
  padding: 1rem;
}

.movement-name {
  display: inline-block;
  margin-left: 1rem;
  color: #127ebf;
}

.buttons {
  display: inline-block;
}

input.workout-details {
  display: inline-block;
  margin: 0.5rem;
  padding: .1rem;
  width: 3rem;
  color: #127ebf;
}

.results {
  padding: 0 0 0 .5rem;
}

.save-button {
  background: black;
  border: 1px solid #940315;
  border-radius: 10px;
  color: #127ebf;
  padding: .3rem;
  margin-left: 1rem;
  display: block;
}

.remove-button {
  display: inline-block;
  background: black;
  border: 1px solid #940315;
  border-radius: 10px;
  color: #127ebf;
  margin: .5rem;
  padding: .3rem;
}


.search .search-button {
  color: #127ebf;
  display: inline-block;
  margin: .5rem;
    padding: .5rem 2rem;
}

.search .search-movements {
  display: inline-block;
  margin: 1rem 0 0 1rem;
  padding: .5rem 2rem;
}

.logged-workout-container {
  padding: 0 0 1rem 1rem;
  margin: .2rem 0;
    ul {
      padding: 0
    }
}
.logged-workout-name {
  display: block;
  margin-left: 1rem;
}

h2 {
  margin-left: 1rem;
}
