.cycle-hero {
  background-image: url('../assets/images/Cycles.jpg');
  background-size: cover;
  height: 33vh;
}


.cycle-page {
  text-align: center;
  width: 85%;
  margin: 0 auto;
}

.add-button {

background: transparent;
border: 1px solid #940315;
border-radius: 10px;
padding: .3rem;
color: #127ebf;
text-align: center;
margin: 1rem;
float: right;
}

.cycle-preview {
  border-bottom: 1px solid #940315;
      a {
    text-decoration: none;
    color: #127ebf;
    h4 {
      display:inline-block;
    }
    }
  }

a:visited {
color: #127ebf;
}

.cycles-list {
  margin: 0;
  padding-left: .5rem;
}

.cycle-name {
  display: inline-block;
  margin-right: .2rem;
}

.logged-cycle-name {
  display: inline-block;
  margin-bottom: 0;
  font-size: 2rem;
}

.cycle-workout-list {

}

.cycle-start {
  margin: .5rem;
  display: block;
}

.cycle-end {
  margin: .5rem;
  display: block;
    input {
      margin-left: .3rem;
    }
}

.cycle-info {
      width: 20rem;
  background: black;
border: 1px solid #940315;
border-radius: 10px;
color: #940315;
padding: 1rem;
}
