.register-page {
  display: inline-block;
  width: 75%;
}

.register-form input {
  display: block;
  background: transparent;
border: 1px solid #940315;
border-radius: 10px;
padding: .5rem 3rem;
color: #9B96A3;
text-align: center;
margin: 1rem;

  a:visited {
    color: #940315;
  }
}

span {
    color: #9B96A3;
      a {
        text-decoration: none;
        color: #940315;
      }
}
