.register-input {
  display: block;
  margin: 1rem auto;
  background: white;
  text-align: center;
  font-size: 1rem;
  width: 65%;
  border-color: #127ebf;
}

.register-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #393845;
}
