.register-input {
  display: block;
  margin: 1rem auto;
  background: lightgray;
  text-align: center;
  font-size: 2rem;
  width: 85%;
  border-color: darkgray;
}

.register-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #393845;
}
