.workout-page {
  text-align: left;

}

.workout-name {
  display: inline-block;
  margin-right: .2rem;
}

.new-input {
  background: black;
  border: 1px solid #940315;
  border-radius: 10px;
  color: #940315;
  padding: 1rem
}

.create-button {
  background: black;
  border: 1px solid #940315;
  border-radius: 10px;
  color: #940315;
  padding: 1rem;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #940315;

}

.save-button {
  background: black;
  border: 1px solid #940315;
  border-radius: 10px;
  color: #940315;
  padding: .3rem;
}
