.workout-hero {
  background-image: url('../assets/images/Workout.jpg');
  background-size: cover;
  height: 33vh;
}

.workout-page {
  text-align: center;
  width: 90%;
  margin: 3rem auto;
  background-color: white;
  background-size: cover;
  background-position-y: -7rem;
  border: 3px solid darkgrey;
  margin-bottom: 1rem;
  -webkit-box-shadow: 2px 2px 1px 0px  rgba(0,0,0,0.75);
 -moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
 box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
}

.workout-name {
  display: inline-block;
  margin-right: .2rem;
  margin: 1.2rem;
  color: #127ebf;
  font-size: 2rem;
}

.new-input {
  background: transparent;
  border: 1px solid darkgray;
  border-radius: 10px;
  color: #127ebf;
  padding: 1rem;
  font-size: 1.2rem;
}
.workouts {
  width: 90%;
  margin: 0 auto;
  font-size: 2rem;
}

.workout-remove-button {
  display: inline-block;
  background: white;
  border: 1px solid dargray;
  border-radius: 10px;
  color: #127ebf;
  margin: .5rem;
  padding: .4rem;
  font-size: 1.1rem;
  -webkit-box-shadow: 2px 2px 1px 0px  rgba(0,0,0,0.75);
 -moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
 box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
  z-index: 1;
}


.workout-list {
  margin: 4rem 0rem;
  padding-left: .5rem;
  color: #393845;
}

.workout-preview-container {
  border: 3px solid darkgrey;
  -webkit-box-shadow: 2px 2px 1px 0px  rgba(0,0,0,0.75);
 -moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
 box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
 margin: 1rem;
}

.workout-preview {
  width: 80%;
  display: inline-block;
  padding: .5rem 0rem;
  margin: 0;
      a {
    text-decoration: none;
    color: #127ebf;
    }
  }

.workout-info {
width: 20rem;
background: white;
border: 1px solid darkgray;
border-radius: 10px;
  color: #127ebf;
padding: 1rem;
font-size: 1.2rem;
}

span {
    color: #393845;
}

.remove-container {
  display: inline-block;
}

.workout-description {
  display: block;
}
